@import './_variables';
@import './roomContainer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  color: $main-text-color;
}
a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $background-color-light;
}
button:hover {
    background-color: lighten($accent-color, 20%);
}
#root, .app-container, #dashboard, #main-container, #settings-container {
  height: 100%;
}

#login-details-container {
  height: 100%;
  min-width: 30%;
  width: 30%;
  max-width: 400px;
}

.main-nav {
  display: flex;
  align-items: center;
  background-color: $background-color;
  height: 50px;
  border-bottom: 1px solid $accent-color-light;
}
.main-nav-btn {
  margin: 0 10px;
}
#logout-link {
  color: $warning-color;
  flex: 1;
  justify-self: end;
}

#login-text {
  text-align: center;
};

#main-container {
  display: flex;
}

#SettingsMenu {
  padding: 20px;
}