@import './_variables2';
@import './roomContainer';
@import './profile';
@import './login';
@import './room';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}
a {
  text-decoration: none;
}

h3 {
  color: rgb(0, 0, 0);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $background-color-light;
}
button:hover {
    background-color: lighten($accent-color, 20%);
}

.warning, #delete-room-btn {
  color: $warning-color;
}

#root, .app-container, #dashboard, #settings-container {
  height: 100%;
}

#login-details-container {
  height: 100%;
  min-width: 30%;
  width: 30%;
  max-width: 400px;
}

#dashboard {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(white 20%, transparent 20%);
  // background-image: url("../assets/math.png");
  background-color: transparent;
  background-position: 30px;
  background-size: 15px 15px;
}

.main-nav {
  display: flex;
  align-items: center;
  background-color: white;
  height: 60px;
  //border-bottom: 1px solid $accent-color-light;
}
.main-nav-btn {
  margin: 0 10px;
  color:black;
}
.logo {
  font-family: 'Rubik', sans-serif;
  font-size: 26px;
  font-weight: 400;
  padding: 8px;
  padding-bottom: 15px;
  padding-right: 8px;
  margin-left: 20px;
  span {
    font-weight: 300;
  }
}

#logout-link {
  color: $warning-color;
  flex: 1;
  justify-self: end;
}

#profile-link {
  color: $warning-color;
  padding-left: 30px;
}

#home-link {
  color: $warning-color;
  padding-left: 90px;
}

#settings-link {
  color: $warning-color;
  padding-left: 30px;
}

#login-text {
  text-align: center;
};

#main-container {
  flex: 1;
  display: flex;
}

#SettingsMenu {
  padding: 20px;
}

.details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 20px;
  width: 500px;
}

// .subject-link-icon {
//     color:rgb(58, 58, 58);
// }

.subject-img {
  height: 250px;
  width: 250px;
  border: 1px solid $accent-color-light;
}

.sub-btn {
  color:green;
}