#user-profile {
  margin-top: 50px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.profile-field {
  color: $accent-color
}

#room-manager {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#tabs {
  margin-top: 40px;
  margin-left: 20%;
  display: flex;
  button {
    white-space: nowrap;
  }
}

#profile-tab {

  padding: 10px 40px;
  color: $mui-text-color;
  background-color: white;
  font-weight: 700;
  border-radius: $border-radius $border-radius 0 0 ;
  border-top: 1px solid $accent-color-light;
  border-left: 1px solid $accent-color-light;
  border-right: 1px solid $accent-color-light;
  border-bottom: 0px;
  z-index: 1;
  &:hover{
    background-color: darken($color: white, $amount: 3%);
    &::after {
      opacity: 0;
      transition: all 0.8s
    }
  }
}

#profile-tab:first-child {
  margin-right: 10px;
}

#saved-rooms-tab {
  align-self: start;
  padding: 10px 40px;
  color: $mui-text-color;
  background-color: white;
  font-weight: 700;
  border-radius: $border-radius $border-radius 0 0 ;
  border-top: 1px solid $accent-color-light;
  border-left: 1px solid $accent-color-light;
  border-right: 1px solid $accent-color-light;
  border-bottom: 0px;
  z-index: 1;
  &:hover{
    background-color: darken($color: white, $amount: 3%);
    &::after {
      opacity: 0;
      transition: all 0.8s
    }
  }
}

#saved-rooms-tab:first-child {
  margin-right: 10px;
}

#appointments-tab {
  align-self: start;
  padding: 10px 40px;
  color: $mui-text-color;
  background-color: white;
  font-weight: 700;
  border-radius: $border-radius $border-radius 0 0 ;
  border-top: 1px solid $accent-color-light;
  border-left: 1px solid $accent-color-light;
  border-right: 1px solid $accent-color-light;
  border-bottom: 0px;
  z-index: 1;
  &:hover{
    background-color: darken($color: white, $amount: 3%);
    &::after {
      opacity: 0;
      transition: all 0.8s
    }
  }
}

#appointments-tab:first-child {
  margin-right: 10px;
}

.profile-room-container {
  flex: 1;
  text-align: left;
  margin-top: -1px;
  padding: 40px 20%;
  width: 100%;
  background-color: white;
  border-top: 1px solid $accent-color-light;
}
.profile-room {
  width: 450px;
  margin: 10px;
  padding: 20px;
  background-color: $card-background;
  border-radius: $border-radius;
  p {
    margin: 5px;
  }
  label {
    font-weight: 700;
  }
  button {
    margin: 5px;
  }
}

.saved-room {
  width: 400px;
  margin: 10px;
  padding: 20px;
  background-color: $card-background;
  border-radius: $border-radius;
  p {
    margin: 5px;
  }
  label {
    font-weight: 700;
  }
  button {
    margin: 5px;
  }
}

#open-add-room {
  position: absolute;
  right: 20%;
  margin: 10px;
  font-size: 30px;
  padding: 6px 15px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 2px $background-color-light;
  background-color: $accent-color;
  color: white;
  transition: border-radius 0.2s, content 0.5s;
  &:hover {
    font-size: 0;
    border-radius: 100px;
    padding: 15px 15px;
    width: 180px;
    &::after {
      content: 'Create new room';
      font-size: 16px;
    }
  }
}

#room-editor-modal {
  position: absolute;
  top: 250px;
  left: 25%;
  background-color: $card-background;
  padding: 30px;
  border: 1px solid $accent-color-light;
  border-radius: $border-radius;
  box-shadow: 2px 2px 2px $background-color-light;
  z-index: 1;
}
#subject-select {
  width: 150px;
}
.room-editor-label {
  margin: 10px;
}
#room-editor-modal-btns {
  margin-top: 10px;
  button {
    margin: 10px;
    float: right;
  }
}