#room-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  row-gap: 20px;
  h2 {
    color: $mui-text-color;
    text-transform: uppercase;
  }
}

.subject-nav {
  height: 100vh;
  padding: 10px;
  width: 250px;
  h2 {
    padding: 10px;
    border-bottom: 1px solid $accent-color-light;
  }
  background-color: $background-color;
}

#subject-links-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#subject-links {
  margin: 10px 0;
  // justify-content: start;
  &:hover {
    background-color: $background-color-light
  }
}
.subject-link-icon {
  margin-right: 10px;
}

.mainRoom {
  color: $mui-text-color-dark;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  border-color: $accent-color-light;
  border-width: 1px;
  background-color: $card-background;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 0px 0px $accent-shadow;
  &:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px $accent-shadow;
  }
}

.roomInfo {
  color: $mui-text-color-dark;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  border-color: $accent-color-light;
  border-width: 1px;
  background-color: $card-background;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 0px 0px 3px 2px $accent-shadow;
  span {
    font-weight: 700;
  }
  button {
    margin: 5px;
  }
}

#main-button {
  display: flex;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 3px;
}

#no-subject {
  font-size: 20px;
  font-style: italic;
  margin: 40px 100px;
  padding: 20px;
  border-radius: $border-radius;
  border: 2px dashed $background-color;
  background-color: white;
  height: fit-content;
}