.room-page {
  margin: 50px auto;
  padding: 20px;
  width: 90%;
  background-color: $card-background;
  border-radius: $border-radius;
}
.doc-editor {
  margin: 30px;
  padding: 20px;
  border: 1px solid $accent-color-light;
  background-color: white;
}
.file-picker {
  input {
    width: 300px;
  }
  button {
    margin: 0 20px;
  }
}

#exit-room-btn {
  padding: 5px;
  border-radius: 0.5rem;
}